.row{
    margin: 0px;
}

#join_our_doctor{
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
}
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 40px 40px;
    box-sizing: border-box;
    width: 500px;
    position: relative;
    margin-left: 33%;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
}


/*buttons*/
#msform .action-button {
    width: 100px;
    background: rgb(0, 112, 205);
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
}


#msform .action-button-previous {
    width: 100px;
    background: rgb(239, 15, 15);
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 15px ;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: rgb(74, 73, 73);
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: rgb(21, 15, 15);
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; 
}

#progressbar li:first-child:after {
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: rgb(0, 112, 205);
    color: white;
}



#progressbar li.inactive:before{
    background: rgb(172, 172, 168);
    color: #000;

}

fieldset {


  /* Standard syntax*/
      animation-duration: 1s;animation-name: slidein;
  }

  @keyframes slidein {
           from {
               margin-left: 100%;width: 500px;
           }

           to {
               margin-left: 33%;width: 500px;
           }
  }