<h4 id="join_our_doctor">        
  <img src="assets/imges/home_icon/doctor.png" alt="" width="25"> 
   Join Our Doctors
</h4>
<div class="container">
  <div class="alert alert-danger" style="text-align: center;" *ngIf="isError">
    <small>{{errorMassage}}</small>
  </div>
</div>

<!-- <p>{{finalRegisterForm.value | json}}</p> -->



<div class="row"> 
  <div class="col-md-12 col-md-offset-3">

    <form [formGroup]="finalRegisterForm">
      <div formGroupName="p1" ngOnChanges id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
              <li [ngClass]="step>=1 ? 'active' : 'inactive'">Basic Details</li>
              <li [ngClass]="step>=2 ? 'active' : 'inactive'">Address Details</li>
              <li [ngClass]="step==3 ? 'active' : 'inactive'">Extra Info</li>
          </ul>
          <!-- fieldsets -->

          <fieldset  *ngIf="step == 1" >
              <h2 class="fs-title">Basic Details</h2>
              <input type="text" class="form-control" required formControlName="userName"  placeholder="Username"/>
                  <!-- <small class="text-danger" *ngIf="!finalRegisterForm.controls['userName'].valid && finalRegisterForm.controls['userName'].touched">
                    Username is required
                  </small> -->

              <input type="email" class="form-control" required formControlName="email"  placeholder="Enter Email"/>
              <div>
                  <!-- <small class="text-danger" *ngIf="!finalRegisterForm.controls['p1'].valid && finalRegisterForm.controls['p1'].touched">
                      Email is required 
                  </small> -->
              </div>
              <input type="text"  class="form-control" required formControlName="fullName"  placeholder="Enter Full name"/>
              <div *ngIf="personal_step && finalRegisterForm.controls['fullName'].errors">
                  <!-- <small class="text-danger" *ngIf="!finalRegisterForm.controls['fullName'].valid && finalRegisterForm.controls['fullName'].touched">
                    Full name is required
                  </small> -->
              </div>

              <input type="text"  class="form-control" required formControlName="doctorTitle"  placeholder="Enter Your Title ex: Consultant of Pediatrics."/>
              <div *ngIf="personal_step && finalRegisterForm.controls['doctorTitle'].errors">
                  <!-- <small class="text-danger" *ngIf="!finalRegisterForm.controls['doctorTitle'].valid && finalRegisterForm.controls['doctorTitle'].touched">
                    Doctor Title is required
                  </small> -->
              </div>
              
              <input type="password"  class="form-control" required formControlName="password"  placeholder="Enter Password"/>
              <div *ngIf="personal_step && finalRegisterForm.controls['password'].errors">
                  <!-- <small class="text-danger" *ngIf="!finalRegisterForm.controls['password'].valid && finalRegisterForm.controls['password'].touched">
                    Password is required
                  </small> -->
              </div>

               
              <input type="tel"  class="form-control" required formControlName="phoneNo"  placeholder="Enter Phone Number"/>
              <div *ngIf="personal_step && finalRegisterForm.controls['phoneNo'].errors">
                  <!-- <small class="text-danger" *ngIf="!finalRegisterForm.controls['phoneNo'].valid && finalRegisterForm.controls['phoneNo'].touched">
                    Phone Nnmber is required
                  </small> -->
              </div>

   

              <input (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
          </fieldset>
        </div>

      <form formGroupName="p2" id="msform">
          <fieldset *ngIf="step == 2" >
              <h2 class="fs-title">Address Details</h2>

              <div class="mb-3">
                <select class="form-select"  name="dep" id="gender"  class="form-control" formControlName="gender">
                  <option value="" >Select Gender...</option>
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                </select>
            </div>

           
            <div class="mb-3">
              <select (change)="changeAreaValue($event)"  class="form-control" required formControlName="cities">
                  <option value="" >Select City...</option>
                  <option *ngFor="let c of citiesList" [value]="c.id">{{c.name}}</option>
                </select>
            </div>

            <div class="mb-3">
              <select (change)="getAreaValue($event)" class="form-control" required formControlName="areaId">
                  <option value="" >Select Area...</option>
                  <option *ngFor="let a of areasList" [value]="a.id">{{a.areaName}}</option>
                </select>
            </div>
      
              <input type="text" class="form-control" required formControlName="address"  placeholder="Enter address"/>
              <!-- <div *ngIf="address_step && addressAndCostDetails.controls['address'].errors">
                  <small class="text-danger" *ngIf="!addressAndCostDetails.controls['address'].valid && addressAndCostDetails.controls['address'].touched">
                      address is required
                  </small>
              </div> -->

              <input type="number"  class="form-control" required formControlName="cost"  placeholder="Enter cost (L.E)"/>
  
              <input type="number"  class="form-control" required formControlName="waitingTime"  placeholder="Enter waiting time (min.)"/>
     

              <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
              <input  (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
          </fieldset>
      </form>

      <form formGroupName="p3" id="msform">
        <fieldset *ngIf="step == 3">
            <h2 class="fs-title">Extra Info Details</h2>

            <div class="mb-3">
              <select class="form-control" (change)="getSpecByDepId($event)" required formControlName="departmentId">
                  <option value="" >Select Department...</option>
                  <option *ngFor="let department of departmentList" [value]="department.id">{{department.name}}</option>
                </select>
            </div>
          

            <div class="mb-3">
              <ng-select [items]="specialistsList" 
              formControlName="specialistsIds"
              placeholder="what is/are your specialist(s)"
              bindLabel="specialistName" 
              bindValue="id" 
              [multiple]="true"
              [(ngModel)]="selected"
              required>
              </ng-select>
            </div>

          <div class="mb-3">
          <ng-select [items]="hospitalsList"
          formControlName="hospitalsIds"
          placeholder="where hospital(s) you work?"
          bindLabel="name" 
          bindValue="id" 
          [multiple]="true"
          [(ngModel)]="selected2"
          required>
          </ng-select>
        </div>
               
        <div class="mb-3">
          <ng-select [items]="insuranceList"
          formControlName="insuranceIds"
          placeholder="where insurance(s) you work?"
          bindLabel="companyName"
          bindValue="id" 
          [multiple]="true"
          [(ngModel)]="selected3"
          required>
          </ng-select>
        </div>
                   
            <div class="mb-3">
              <label for="image" class="form-label">Upload profile image</label>
              <input type="file" (change)="onchange($event)" class="form-control" accept="image/png, image/jpeg" name="Image" placeholder="Image" required formControlName="image">
           </div>

            <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
            <input (click)="register()"type="submit" name="submit" class="submit action-button" value="Submit"/>
        </fieldset>
    </form> 
  </form>
