<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
      <img src="assets/imges/admin/specialist.png" alt="search_icon" width="25"> Specialist
      
    </div>

        <div class="page__content shadow p-3">
            <div>
                       <!-- <div style="margin-left: 50%;">
                <button  mat-raised-button mat-button color="primary" (click)="openDialog()" ><mat-icon>add</mat-icon>Add New Specialist</button>

              </div> -->
              <div class="row">
                <div class="col-6">
                  <mat-form-field >
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                  </mat-form-field> 
                 </div>
                 <div class="col-6">
                  <button style="height: 55px;" mat-raised-button mat-button color="primary" (click)="openDialog()" ><mat-icon>add</mat-icon>Add New Specialist</button>

                 </div>     
              </div>
            
                 
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>  ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="specialistName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialist Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.specialistName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="departmentName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.departmentName}} </td>
                      </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" (click)="editSpecialist(row)"><mat-icon>edit</mat-icon></button>
                            <button mat-icon-button color="warn" (click)="deleteSpecialist(row.id)"><mat-icon>delete</mat-icon></button>     
                        </td>
                      </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                   
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
            </div>
       </div>  
</div>
