/*---------------------
  Shop
-----------------------*/

.shop__sidebar {
	padding-right: 20px;
}

.shop__sidebar__search {
	margin-bottom: 45px;
}

.shop__sidebar__search form {
	position: relative;
}

.shop__sidebar__search form input {
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
	border: 1px solid #e5e5e5;
	height: 42px;
}

.shop__sidebar__search form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::-moz-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form button {
	color: #b7b7b7;
	font-size: 15px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	padding: 0 15px;
	top: 0;
	height: 100%;
}

.shop__sidebar__accordion .card {
	border: none;
	border-radius: 0;
	margin-bottom: 25px;
}

.shop__sidebar__accordion .card:last-child {
	margin-bottom: 0;
}

.shop__sidebar__accordion .card:last-child .card-body {
	padding-bottom: 0;
	border-bottom: none;
}

.shop__sidebar__accordion .card-body {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.shop__sidebar__accordion .card-heading {
	cursor: pointer;
}

.shop__sidebar__accordion .card-heading a {
	color: #111111;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}

.shop__sidebar__categories ul,
.shop__sidebar__price ul,
.shop__sidebar__brand ul {
	height: 225px;
}

.shop__sidebar__categories ul li,
.shop__sidebar__price ul li,
.shop__sidebar__brand ul li {
	list-style: none;
}

.shop__sidebar__categories ul li a,
.shop__sidebar__price ul li a,
.shop__sidebar__brand ul li a {
	color: #b7b7b7;
	font-size: 15px;
	line-height: 32px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.shop__sidebar__categories ul li a:hover,
.shop__sidebar__price ul li a:hover,
.shop__sidebar__brand ul li a:hover {
	color: #111111;
}

.shop__sidebar__brand ul {
	height: auto;
}

.shop__sidebar__price ul {
	height: auto;
}

.shop__sidebar__size {
	padding-top: 15px;
}

.shop__sidebar__size label {
	color: #111111;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #e5e5e5;
	padding: 6px 25px;
	margin-bottom: 10px;
	margin-right: 5px;
	cursor: pointer;
}

.shop__sidebar__size label.active {
	background: #111111;
	color: #ffffff;
	border-color: #111111;
}

.shop__sidebar__size label input {
	position: absolute;
	visibility: hidden;
}

.shop__sidebar__color {
	padding-top: 15px;
}

.shop__sidebar__color label {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}

.shop__sidebar__color label.c-1 {
	background: #0b090c;
}

.shop__sidebar__color label.c-2 {
	background: #20315f;
}

.shop__sidebar__color label.c-3 {
	background: #f1af4d;
}

.shop__sidebar__color label.c-4 {
	background: #636068;
}

.shop__sidebar__color label.c-5 {
	background: #57594d;
}

.shop__sidebar__color label.c-6 {
	background: #e8bac4;
}

.shop__sidebar__color label.c-7 {
	background: #d6c1d7;
}

.shop__sidebar__color label.c-8 {
	background: #ed1c24;
}

.shop__sidebar__color label.c-9 {
	background: #ffffff;
}

.shop__sidebar__color label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 36px;
	width: 36px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}

.shop__sidebar__color label input {
	position: absolute;
	visibility: hidden;
}

.shop__sidebar__tags {
	padding-top: 15px;
}

.shop__sidebar__tags a {
	color: #404040;
	font-size: 13px;
	font-weight: 700;
	background: #f1f5f8;
	padding: 5px 18px;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 6px;
	margin-bottom: 10px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.shop__sidebar__tags a:hover {
	background: #111111;
	color: #ffffff;
}

.shop__sidebar__accordion .card-heading a:after,
.shop__sidebar__accordion .card-heading>a.active[aria-expanded=false]:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 24px;
	font-weight: 700;
	color: #111111;
	position: absolute;
	right: 0;
	top: 2px;
	line-height: 20px;
}

.shop__sidebar__accordion .card-heading.active a:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 24px;
	font-weight: 700;
	color: #111111;
	position: absolute;
	right: 0;
	top: 2px;
	line-height: 20px;
}

.shop__product__option {
	margin-bottom: 45px;
}

.shop__product__option p {
	color: #111111;
	margin-bottom: 0;
}

.shop__product__option__right {
	text-align: right;
}

.shop__product__option__right p {
	display: inline-block;
	margin-bottom: 0;
}

.shop__product__option__right .nice-select {
	float: none;
	display: inline-block;
	padding: 0;
	line-height: 26px;
	height: auto;
	border: none;
	padding-right: 28px;
}

.shop__product__option__right .nice-select:after {
	border-bottom: 1.5px solid #111111;
	border-right: 1.5px solid #111111;
	height: 8px;
	right: 12px;
	width: 8px;
}

.shop__product__option__right .nice-select span {
	color: #111111;
	font-size: 15px;
	font-weight: 700;
}

.shop__product__option__right .nice-select .list {
	border-radius: 0;
}

.product__pagination {
	padding-top: 25px;
	text-align: center;
}

.product__pagination a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #111111;
	height: 30px;
	width: 30px;
	border: 1px solid transparent;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
}

.product__pagination a.active {
	border-color: #111111;
}

.product__pagination a:hover {
	border-color: #111111;
}

.product__pagination span {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #111111;
	padding-left: 10px;
	padding-right: 15px;
}

/**** Check out ***/

.checkout__input__checkbox label {
	font-size: 15px;
	color: #0d0d0d;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-bottom: 16px;
	display: block;
}

.checkout__input__checkbox label input {
	position: absolute;
	visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
	border-color: #e53637;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
	opacity: 1;
}

.checkout__input__checkbox label .checkmark {
	position: absolute;
	left: 0;
	top: 3px;
	height: 14px;
	width: 14px;
	border: 1.5px solid #d7d7d7;
	content: "";
	border-radius: 2px;
}

.checkout__input__checkbox label .checkmark:after {
	position: absolute;
	left: 1px;
	top: -3px;
	width: 14px;
	height: 7px;
	border: solid #e53637;
	border-width: 1.5px 1.5px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	content: "";
	opacity: 0;
}

.checkout__input__checkbox p {
	color: #0d0d0d;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 22px;
}