   <!-- Doctor Section Begin -->
    <section class="all_doctors">
       
        <div class="container">
            <div class="doctor_header">
                <h5 id="page_path">My Clinci / Home / All Doctors</h5>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="filter_sidebar card">
                        <div class="card-header" style="background-color: rgb(0, 112, 205);color: white; border-radius: 20px; margin-bottom: 10px;">filters</div>
                        <form>
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                               <h4 class="card-title" style="color:rgb(0, 112, 205);">Department</h4>
                               <mat-label>    <img src="assets/imges/home_icon/stethoscope-medical-tool.png" alt="search_icon" width="17">
                                 Choose Department</mat-label>
                              <mat-select  (selectionChange)="getDepartmentValue($event)" >
                                <mat-option  *ngFor="let d of departmentList" [value]="d.id">{{d.name}}</mat-option>

                              </mat-select>
                            </div>

                            <!-- city -->
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                                <h4 class="card-title" style="color:rgb(0, 112, 205);">City</h4>
                                <mat-label>    <img src="assets/imges/home_icon/placeholder.png" alt="search_icon" width="17">
                                  Choose City</mat-label>
                               <mat-select (selectionChange)="getCityValue($event)">
                                <mat-option  *ngFor="let c of citiesList" [value]="c.id">{{c.name}}</mat-option>
                               </mat-select>
                             </div>

                             <!-- price -->
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                                <h4 class="card-title" style="color:rgb(0, 112, 205);">Price</h4>
                                <mat-label>    <img src="assets/imges/home_icon/price-tag.png" alt="search_icon" width="17">
                                  Price</mat-label>
                               <mat-select >
                                 <mat-option value="1">Highest price</mat-option>
                                 <mat-option value="0">Less price </mat-option>
                               </mat-select>
                             </div>
            
            
                             <button (click)="filter()" class="btn btn-danger col-12" style="margin-top: 5px; margin-bottom: 10px; border-radius: 20px;">Filter</button>
                        </form>
                    </div>
                </div>

                  <div class="col-9" id="doctor_cards">
                    <!-- <h3 *ngIf="!isEmpty">No results match your search criteria !</h3> -->
                    <div class="container-fluid" *ngFor="let doctor of doctorList;index as i;">
                      <app-doctor [app-doctor]="doctor"></app-doctor>
                  </div>
                 </div>
  
            </div>
        </div>
    </section>
