.all_doctors{
    margin-bottom: 30px;
}
.doctor_header{
	
   padding: 10px;	
   background: rgb(238, 239, 239);
   margin-bottom: 10px;
   margin-top: 10px;
   border-radius: 25px;
   padding: 10px;
}
#page_path{
	color:rgb(0, 112, 205);
	margin-top: 5px;
	margin-left: 10px;
}
.filter_sidebar {
	padding: 10px;
	background: rgb(238, 239, 239);
	border-radius: 25px;

}
.container-fluid{
    margin-bottom: 20px;
}

#doctor_cards{
    background-color: 	rgb(238, 239, 239);
	border-radius: 20px;
	padding: 10px;
}


