 <!-- Shop Section Begin -->
    <section class="all_doctors">
       
        <div class="container">
            <div class="doctor_header">
                <h5 id="page_path">My Clinci / Home / All Doctors</h5>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="filter_sidebar card">
                        <div class="card-header" style="background-color: rgb(0, 112, 205);color: white; border-radius: 20px; margin-bottom: 10px;">filters</div>
                        <form>
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                               <h4 class="card-title" style="color:rgb(0, 112, 205);">Department</h4>
                               <mat-label>    <img src="assets/imges/home_icon/stethoscope-medical-tool.png" alt="search_icon" width="17">
                                 Choose Department</mat-label>
                              <mat-select >
                                <mat-option >Option 1</mat-option>
                                <mat-option >Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                              </mat-select>
                            </div>

                            <!-- city -->
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                                <h4 class="card-title" style="color:rgb(0, 112, 205);">City</h4>
                                <mat-label>    <img src="assets/imges/home_icon/placeholder.png" alt="search_icon" width="17">
                                  Choose City</mat-label>
                               <mat-select >
                                 <mat-option >Option 1</mat-option>
                                 <mat-option >Option 2</mat-option>
                                 <mat-option value="option3">Option 3</mat-option>
                               </mat-select>
                             </div>

                              <!-- area -->
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                                <h4 class="card-title" style="color:rgb(0, 112, 205);">Area</h4>
                                <mat-label>    <img src="assets/imges/home_icon/placeholder.png" alt="search_icon" width="17">
                                  Choose Area</mat-label>
                               <mat-select >
                                 <mat-option >Option 1</mat-option>
                                 <mat-option >Option 2</mat-option>
                                 <mat-option value="option3">Option 3</mat-option>
                               </mat-select>
                             </div>

                             <!-- price -->
                            <div class="card" style="padding: 10px; border-radius: 20px;margin-bottom: 5px;">
                                <h4 class="card-title" style="color:rgb(0, 112, 205);">Price</h4>
                                <mat-label>    <img src="assets/imges/home_icon/price-tag.png" alt="search_icon" width="17">
                                  Price</mat-label>
                               <mat-select >
                                 <mat-option value="1">Highest price</mat-option>
                                 <mat-option value="0">Less price </mat-option>
                               </mat-select>
                             </div>

                    

                             <button class="btn btn-danger col-12" style="margin-top: 5px; margin-bottom: 10px; border-radius: 20px;">Filter</button>
                        </form>
                    </div>
                </div>

                <div class="col-9" id="doctor_cards">
                    <app-doctor></app-doctor>
                </div>
                <!-- <div class="col-8">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing  4 – 100 of 200 results</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                     
                   
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a  style="cursor: pointer;">44</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Shop Section End -->