:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 200px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #809ee5;
  }