
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-4">
              <div class="alert alert-danger" *ngIf="updateErr">
                <small>{{updateMassage}}</small>
              </div>
              <img  src="data:image/*;base64,{{doctorObj.image}}" alt="doctor_image" class="doctor_image"> 

                <!-- <img src="assets/imges/admin/defult.jpg" alt="doctor_image" class="doctor_image"> -->
              
                <div class="container" style="margin-top: 20px;">
                <input hidden type="file" (change)="onchange($event)" class="btn btn-dark btn-sm" accept="image/png, image/jpeg" name="Image" placeholder="Image" required #file>
                <button (click)="updateImage()" class="btn btn-success" style="margin-right: 5px;">Update image</button>
                <button  (click)="file.click()"class="btn btn-dark">Choose image</button>
                <p *ngIf="isAdded">{{imageName}}</p>
               </div>
              
              </div>
            <div class="col-4">
              <h3><span class="doctor_info">Full Name: </span>{{doctorObj.fullName}}</h3> 
              <hr>
              <h3><span class="doctor_info">Username: </span>{{doctorObj.userName}}</h3> 
              <hr>
              <h3><span class="doctor_info">Email: </span>{{doctorObj.email}}</h3> 
              <hr>
              <h3><span class="doctor_info">Doctor Title: </span>{{doctorObj.doctorTitle}}</h3> 
              <hr>
              <h3><span class="doctor_info">Gender: </span>{{doctorObj.gender}}</h3> 
              <hr>
              <h3><span class="doctor_info">Phone Number: </span>{{doctorObj.phoneNo}}</h3> 
              <hr>
              <h3><span class="doctor_info">Full Address: </span>{{doctorObj.address}}, {{doctorObj.area['areaName']}}, {{doctorObj.cities}}.</h3> 

            </div>
            <div class="col-4">
              <h3><span class="doctor_info">Cost: </span>{{doctorObj.cost}} (L.E)</h3> 
              <hr>
              <h3><span class="doctor_info">waiting Time: </span>{{doctorObj.waitingTime}} (Min.)</h3> 
              <hr>
              <h3><span class="doctor_info">Department: </span>{{doctorObj.department['name']}}</h3> 
              <hr>
              <h3><span class="doctor_info">Specialists: </span>
                <span *ngFor="let s of doctorObj.specialists">
                  {{s.specialistName}}.
                </span>
              </h3> 
              <hr>
              <h3><span class="doctor_info">Hospitals: </span>
                <span *ngFor="let h of doctorObj.hospitals">
                  {{h.name}}.
                </span>
              </h3> 
              <hr>
              <h3><span class="doctor_info">Insurances: </span>
                <span *ngFor="let i of doctorObj.insurances">
                  {{i.companyName}}({{i.discount}}%).
                </span>
              </h3> 
              <hr>
              <button type="submit" class="btn btn-success  btn-block" (click)="openFormDialog(doctorObj)">Update Profile</button>

            </div>
        </div>
    </div>
</div>

