
<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">

                        <img src="assets/imges/admin/defult.jpg" alt="doctor" style="border-radius: 50%;width:40px;margin-right: 10px;">
                        <span>Welcome, {{doctorName}}</span>
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="Logout()" >
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>