<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/imges/home_icon/logo2.png" alt="logo" style="width: 60%;margin-left: 20px;">
    </div>

    <div >
        <img src="assets/imges/admin/defult.jpg" alt="doctor" class="doctor_img">

    </div>
    <hr>
    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/doctor/profile" routerLinkActive="list-item-active">
        <img src="assets/imges/doctor/user.png" alt="user" width="20">  Profile
    </a>

    <a mat-list-item routerLink="/doctor/manage-appointment" routerLinkActive="list-item-active">
        <img src="assets/imges/doctor/appointment.png" alt="appointments" width="20">  Appointments
    </a>

    <a mat-list-item routerLink="/doctor/rate-and-review" routerLinkActive="list-item-active">
        <img src="assets/imges/doctor/rating.png" alt="rating" width="20">  Rates & Reviews
    </a>
  
    <a mat-list-item routerLink="/doctor/visitor-booking" routerLinkActive="list-item-active">
        <img src="assets/imges/doctor/calendar.png" alt="calendar" width="20">   Visitors Booking
    </a>
</mat-nav-list> 