
<div class="container">
    <div class="col-12" style="margin-bottom: 20px;">
        <div class="doctor_header">
            <h5 id="page_path">My Clinci / Home / Doctor-details / Dr. {{doctorObj.fullName}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card_style" >
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="assets/imges/home_icon/defult.jpg" alt="Card image cap" id="doctor_img">
                                    <!-- <img class="" src="assets/imges/home_icon/m1.PNG" alt="Card image cap" id="doctor_img"> -->
                               
                                </div>
                                <div class="col-12" style="margin-left: 20px;margin-top: 30px;">
                                    <div class="row">
                                        <div class="">
                                            <h2 id="doctor_title" class="card-title"><span style="font-size: 12px;">Doctor </span>{{doctorObj.fullName}}</h2>
                                            <p class="card-title">{{doctorObj.doctorTitle}}</p>
                                            <div style="margin-bottom: 10px; font-size: 20px;">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p><img class="" src="assets/imges/home_icon/stethoscope-medical-tool.png" alt="placeholder img" width="17"> {{ doctorObj.department['name']}}</p>
                                            <p><img class="" src="assets/imges/home_icon/doctor.png" alt="placeholder img" width="20"><span style="font-weight: bold;"> Specialists</span>   
                                                <span style="color:rgb(0, 112, 205) ;" *ngFor="let s of doctorObj.specialists">
                                                {{s.specialistName}},</span></p>

                                                <p><img class="" src="assets/imges/home_icon/hospital-building.png" alt="placeholder img" width="20"><span style="font-weight: bold;"> Work at hospital(s)</span>   
                                                    <span style="color:rgb(0, 112, 205) ;" *ngFor="let h of doctorObj.hospitals">
                                                    {{h.name}},</span></p>

                                            <p><img class="" src="assets/imges/home_icon/life-protection.png" alt="placeholder img" width="20"><span style="font-weight: bold;"> Accept medical insurance(s)</span>   
                                                <span style="color:rgb(0, 112, 205) ;" *ngFor="let i of doctorObj.insurances">
                                                {{i.companyName}}({{i.discount}}%),</span></p>

                                            <p><img class="" src="assets/imges/home_icon/call.png" alt="call img" width="13"> {{doctorObj.phoneNo}}</p>
                                            <hr>
                                            <p>
                                                Overall Rating From Visitors
                                                <span style="font-weight: bold;color:rgb(0, 112, 205); ;">Show all reviews</span></p>
                                        </div>
                                      
                                        </div>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card card_style">
                    
                    <div class="card-title" id="bookig_info">
                        Booking Information
                    </div>
               <hr>
               <div class="row">
                <div class="col-6" style="text-align: center;">
                    <img class="" src="assets/imges/home_icon/cash.png" alt="time img" style="width: 30px; margin-bottom: 10px;">
                    <p style="color: #497cda; font-size: 12px;"> Fees <span style="font-weight: bolder;">{{doctorObj.cost}} L.E</span></p>

                </div>
                <div class="col-6" style="text-align: center;">
                    <img class="" src="assets/imges/home_icon/calendar2.png" alt="time img" style="width: 30px; margin-bottom: 10px;">
                    <p style="color: rgb(106, 207, 128); font-size: 12px;"> waiting time <span style="font-weight: bolder;">{{doctorObj.waitingTime}}.</span></p>

                </div>
               </div>
               <hr>
               <div class="col-12">
                <p style="color: rgb(0, 112, 205);font-size: 14px;font-weight: 500;"><img class="" style="width: 16px; margin-bottom: 2px;" src="assets/imges/home_icon/placeholder2.png" alt="placeholder img"> {{ doctorObj.address}}, {{ doctorObj.area['areaName']}}, {{ doctorObj.cities}}</p>
                <p style="font-weight: bold;font-size: 12px;">Book now to receive the doctor's address details and phone number</p>
               </div>
               <hr>
               <div class="col-12">
                <p style="text-align: center; font-weight: 500;">Choose your appointment</p>
               </div>
              <div class="col-12">
                <table class="table table-striped" style="border: 1px solid rgb(235, 232, 232); margin-top:50px;text-align: center;">    
                    <tbody>
                        <tr *ngFor="let t of timesOfWorkList">
                            <td style="background-color: rgb(0, 112, 205);"><p style="color:white;font-size: 12px;">{{t.day}}</p></td>
                        
                            <td style="font-size: 12px;">{{t.startWork}}</td>
                            <td style="font-size: 12px;">{{t.endWork}}</td>
                            <td style="background-color:#DC3545;"><button routerLink="" class="btn btn-danger btn-sm" style="font-size: 12px;">book</button></td>
                
                        </tr>
                    </tbody>
                   </table> 
              </div>
            </div>
        </div>
    </div>
   

    <div class="row">
        <div class="col-7">
        <div class="container-fluid">
            <div class="card card_style" style="margin-bottom: 40px;margin-top: 10px;">
            <app-visitor-comments></app-visitor-comments>
            </div>
        </div>
        </div>
    </div>
</div>