<div class="container">
        <!-- <div class="row">
            <div class="col-6">
                <img src="assets/imges/admin/admin.jpg" id="bg_admin" alt="admin"> 
            </div>
    
            <div class="col-6">
                <div class="card admin_info">
                    <img id="admin_user" src="assets/imges/admin/admin.user.jpg" alt="admin.user">     
                    <div class="card-body">
                        <h3><span class="admin_tit">Username: </span>admin2</h3>
                        <hr>
                        <h3><span class="admin_tit">Email: </span>admin@clinci.com</h3>
                        <hr>
                        <h3><span class="admin_tit">Phone: </span>1232001920</h3>
                  </div>
                </div>
            </div>
        </div> -->
        <div class="row" style="margin-top: 10px;margin-top: 20px;">
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #f3797e;">
                    <img src="assets/imges/admin/hospital.png" alt="hospital" width="80">
                    <h3>Hospitals</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #88a7f5;">
                    <img src="assets/imges/admin/sitemap.png" alt="sitemap" width="80">
                    <h3>Departments</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #0acd68;">
                    <img src="assets/imges/admin/doctor.png" alt="doctor" width="80">
                    <h3>Doctors</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #7978e9">
                    <img src="assets/imges/admin/specialist.png" alt="specialist" width="80">
                    <h3>Specialists</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;margin-top: 20px;">
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #3b8ff3;">
                    <img src="assets/imges/admin/life-insurance.png" alt="insu" width="80">
                    <h3>Insurances</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #da53a6;">
                    <img src="assets/imges/admin/placeholder.png" alt="plach" width="80">
                    <h3>Areas</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #f7cc7f;">
                    <img src="assets/imges/admin/online-booking.png" alt="bookings" width="80">
                    <h3>Bookings</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="padding: 15px;border-radius: 12px;background-color: #34b1aa">
                    <img src="assets/imges/admin/customer.png" alt="visitors" width="80">
                    <h3>Visitors</h3>
                </div>
            </div>
        </div>
</div>
