.page{
  color: white;
  padding: 0 1rem;
  background-color: #f1f5f9;
}
.page__box{
  min-height: 120px;
  background-color: #1e293b;
  margin: 0 -1rem;
  font-size: 36px;
}
.page__content{
min-height: calc(100vh - 160px);
border-radius: 10px;
margin-top: -2rem;
background-color: white;
color: black;
font-size: 1rem;
}
.test{
  width: 150px;
  margin-left: 1050px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}