.page{
  color: white;
  padding: 0 1rem;
  background-color: #f1f5f9;
}
.page__box{
  min-height: 80px;
  background-color: rgb(183, 183, 184);
  margin: 0 -1rem;
  font-size: 18px;
  color: black;
}
.page__content{
min-height: calc(100vh - 160px);
border-radius: 10px;
margin-top: -2rem;
background-color: white;
color: black;
font-size: 1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-column-id{
  width: 5%;
}

.mat-column-action{
  width: 20%;
}