.container {
    margin-top: 10%;
    float: none; 
    margin-bottom: 10%;
    text-align: center;
    width: 50%;
    font-family: Arial;
    
}
.card{
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}