<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand logo_img" href="#"> <img src="assets/imges/home_icon/logo2.png" alt="logo" style="width: 50%"></a>
    <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" mdbCollapse #basicNav="">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/docotrs"  class="nav-link">Doctors</a>
        </li>
        <li class="nav-item">
          <a routerLink="/docotr-register" class="nav-link">Join Our Doctors</a>
        </li>
        
        <li class="nav-item">
          <a routerLink="/home/all-doctors" class="nav-link">All Doctors</a>
        </li> 
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/visitor-register" class="nav-link" style="border: 1px solid rgb(209, 206, 206);">Sign Up</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
 

