/*---------------------
  Login Form
-----------------------*/

.register-login-section {
	padding-top: 72px;
	padding-bottom: 80px;
}


.login-form h2 {
	color: #252525;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
}


.login-form form .group-input {
	margin-bottom: 25px;
}


.login-form form .group-input label {
	display: block;
	font-size: 18px;
	color: #252525;
	margin-bottom: 13px;
}


.login-form form .group-input input {
	border: 1px solid #ebebeb;
	height: 50px;
	width: 100%;
	padding-left: 20px;
	padding-right: 15px;
}


.login-form form .register-btn,
.login-form form .login-btn {
	width: 100%;
	letter-spacing: 2px;
	margin-top: 5px;
}

.login-form .switch-login {
	text-align: center;
	margin-top: 22px;
}


.login-form .switch-login .or-login {
	color: #252525;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
}

.login-form .switch-login .or-login:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #9f9f9f;
	content: "";
}

.login-form .group-input.gi-check {
	margin-bottom: 8px;
}

.login-form .group-input .gi-more {
	overflow: hidden;
}

.login-form .group-input .gi-more label {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
	font-size: 14px;
	color: #6B6B6B;
	float: left;
}

.login-form .group-input .gi-more label input {
	position: absolute;
	visibility: hidden;
}



.login-form .group-input .gi-more label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
}



.login-form .group-input .gi-more .forget-pass {
	float: right;
	line-height: 20px;
	margin-top: -2px;
	font-size: 14px;
	color: #6B6B6B;
}