<div class="my_slider">
  <img src="assets/imges/slider/slider1.jpg"  alt="Snow" style="width:100%;">
  <div class="filter_form col-12">
    <form class="form_control">
      <div class="find_doctor_bg">
        <h1 id="find_doctor_h1">Find your doctor... <span id="book_now">book now!</span></h1>


        <hr>
        <select class="select_form col-3" aria-label=".form-select-lg example">

          <option selected><span>Choose Department</span></option>
          <option value="1">One</option>
  
        </select>

        <select class="select_form col-3" aria-label=".form-select-lg example">
          <option selected>Choose City</option>
          <option value="1">Cairo</option>
          <option value="1">Alexandria</option>
          <option value="1">Giza</option>
          <option value="1">Qalyubia</option>
          <option value="1">PortSaid</option>
          <option value="1">Luxor</option>
        </select>
        <select class="select_form col-3" aria-label=".form-select-lg example">
          <option selected>Choose Area</option>
          <option value="1">One</option>
  
        </select>
        <button class="filter_button col-3" type="submit">Search</button>
      </div>
   
    </form>
  </div>
</div>

