.my_slider {
	position: relative;
	text-align: center;
	color: white;
	margin: 0px;
	/* margin-bottom: 800px; */

}

.filter_form{
	position: absolute;
	top: 65%;
	left: 50%;
	width: 80%;
	height: 100px;
	transform: translate(-50%, -50%);
}

.find_doctor_bg{
	background-color: white; 
	width: 100%;
	height: 200px; 
	border-radius: 25px; 
	padding: 5px;
	box-shadow: 2px 2px 2px 2px  #68696a;
}

#find_doctor_h1{
	color: rgb(0, 112, 205); 
	font-weight:500;
	 margin-right: 60px;
}
#book_now{
	color: rgb(239, 15, 15);
}
.select_form{
	width: 23%;
	height: 80px;
	text-align: center;
	color: rgb(0, 112, 205);
	font-weight: 500;
	font-size: 18px;
    border: 0.5px solid #bfc0c3 ;
}

.filter_button{
 width: 23%;
 height: 80px;
 background-color: rgb(239, 15, 15);
 color: aliceblue;
 border: none;
 border-top-right-radius: 20px;
 font-weight: 500;
 font-size: 18px;
}

