<div class="my_slider">
  <img src="assets/imges/slider/slider1.jpg"  alt="Snow" style="width:100%;">
  <div class="back-filter">
    <div class="container">
   <h2 style="color: black;color:rgb(0, 112, 205);" >Find your doctor</h2>
  <hr class="filter_line">
  <div class="row">
  
    <mat-form-field>
      <mat-label>Choose Department</mat-label>
      <mat-select >
        <mat-option >Option 1</mat-option>
        <mat-option >Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose City</mat-label>
      <mat-select >
        <mat-option value="1">Giza</mat-option>
        <mat-option value="1">Giza</mat-option>
        <mat-option value="1">Giza</mat-option>
        <mat-option >Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose Area</mat-label>
      <mat-select>
        <mat-option value="">None</mat-option>
        <mat-option >Option 1</mat-option>
        <mat-option >Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  
  
        <button class="search-button">Search</button>
   
   
  </div>
    </div>
  </div>
  </div>
