.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
table {
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
  }


#doctor_img{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
}
.checked {
    color: orange;
}
#doctor_title{
    color:rgb(0, 112, 205); 
    font-family: Arial;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 20px;
    cursor: pointer;
}