<p>doctor works!</p>

<div *ngFor="let doctor of doctorList">
<h3>{{doctor.id}}</h3>
<h3>Doctor Name : {{doctor.fullName}}</h3>
<h3>Doctor Title: {{doctor.doctorTitle}}</h3>
<h3>Number : {{doctor.phoneNo}}</h3>
<h3>Rate : {{doctor.avgRate}}</h3>
<h3>Number Of Views: {{doctor.numberOfViews}}</h3>
<h3>Waiting Time: {{doctor.waitingTime}} min.</h3>
<h3>City: {{doctor.cities}}</h3>
<h3>Area : {{doctor.area}}</h3>
<h3>Address : {{doctor.address}}</h3>
<h5>Specialist : {{doctor.specialists}}</h5>
<h3>Department : {{doctor.department}</h3>
<hr>

</div>
