<div class="container">
    <div class="col-12">
        <h2 id="form_title">Update Profile</h2>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="doctorTitle">Doctor Title</label>
                    <input value="any doctor title" type="text" class="form-control" name="doctorTitle" placeholder="Enter Doctor Title" required>
                </div>
                <div class="form-group">
                    <label for="cost">Cost (L.E)</label>
                    <input value="300" type="text" class="form-control" name="cost" placeholder="Enter Cost" required>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="waitingTime">Waiting Time (Min.)</label>
                    <input value="20" type="text" class="form-control" name="waitingTime" placeholder="Enter Waiting Time" required>
                </div>
                <div class="form-group">
                    <label for="phoneNo">Phone Number</label>
                    <input value="015526172991" type="text" class="form-control" name="phoneNo" placeholder="Enter Phone Number" required>
                </div>
               
                <div class="mb-3">
                    <ng-select 
                    [items]="specialistsList"
                    bindLabel="specialistName"                 
                    [multiple]="true"
                    placeholder="Your specialists"
                    [(ngModel)]="lists">
                    </ng-select>
                  </div>
            </div>
        </div>
    </div>
</div>
