 
    <div class="card" *ngFor="let r of allVisitorsRateAndReview">
    <div class="card-body">
    <h2>{{r.review}}</h2>
    <p style="font-size: 12px;"><span style="font-weight: bold;">Created at: </span>{{r.createdAt}}</p>

    <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
        <img class="" src="assets/imges/user/default-user.png" alt="Card image cap"
        style="width: 50px;height: 50px;border-radius: 50%; margin-right: 10px;">

        <h4 class="small mb-0 ms-2"> {{r.patient['fullName']}}</h4>
        </div>
        <div class="d-flex flex-row align-items-center">
        
        <p class="small text-muted mb-0" style="margin-right: 5px;font-size: 16px;">{{r.rate}}/5</p>
        <img class="" src="assets/imges/user/star.png" width="20" alt="Card image cap">
        </div>
    </div>
    </div>
    </div>





