
  <section class="register_visitor">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-8">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);">
            <div class="card-body p-4">
                <h2 style="text-align: center;font-weight: 500;">Sign up</h2>
                <hr>
                <!-- <p>{{visitorRegisterForm.value | json}}</p> -->
              <form [formGroup]="visitorRegisterForm" autocomplete="off">
                <div class="alert alert-danger" *ngIf="serverError">
                  <small>{{errorMessage}}</small>
                </div>
                <!-- usernam and email -->
                <div class="row">
                  <!-- email -->
                  <div class="col-6">
                    <div class="form-group">
                        <label for="email"> Email <sup class="req_astric">*</sup></label>
                        <input type="email" class="form-control" id="email" [pattern]="emailPattern" placeholder="Enter your email" formControlName="email" required>
                        <small class="text-danger" *ngIf="!visitorRegisterForm.controls['email'].valid && visitorRegisterForm.controls['email'].touched">
                          Email is required.
                        </small>
                        <!-- <small class="text-danger" *ngIf="!visitorRegisterForm.controls['email'].pattern">
                          Invalid Email.
                        </small> -->
                      </div>
                  </div>
                  <!-- username -->
                  <div class="col-6">
                    <div class="form-group">
                        <label for="userName">Username <sup class="req_astric">*</sup></label>
                        <input type="text" class="form-control" id="username"  placeholder="Enter your username" formControlName="userName" required>
                        <small class="text-danger" *ngIf="!visitorRegisterForm.controls['userName'].valid && visitorRegisterForm.controls['userName'].touched">
                          Username is required.
                        </small>  
                    </div>
                  </div>
                  <!-- fullname -->
                  <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="fullName">Full name <sup class="req_astric">*</sup></label>
                        <input type="text" class="form-control" id="fullName"  placeholder="Enter your full name" formControlName="fullName" required>
                        <small class="text-danger" *ngIf="!visitorRegisterForm.controls['fullName'].valid && visitorRegisterForm.controls['fullName'].touched">
                          Full name is required.
                        </small>  
                    </div>
                  </div>
                  <!-- password -->
                  <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="password">Password <sup class="req_astric">*</sup></label>
                        <input type="password" class="form-control" id="password"  placeholder="Enter your password" formControlName="password" required>
                        <small class="text-danger" *ngIf="!visitorRegisterForm.controls['password'].valid && visitorRegisterForm.controls['password'].touched">
                          Password is required.
                        </small>  
                    </div>
                  </div>
                </div> 
                <!-- full name and password -->
                <div class="row">
                    <!-- phoneNo -->
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="phoneNo">Phone number <sup class="req_astric">*</sup></label>
                            <input type="tel" class="form-control" id="phoneNo"  placeholder="Enter your phone number" formControlName="phoneNo" required>
                            <small class="text-danger" *ngIf="!visitorRegisterForm.controls['phoneNo'].valid && visitorRegisterForm.controls['phoneNo'].touched">
                              Phone number is required.
                            </small>  
                        </div>
                      </div>
                 
                       <!-- city -->
                       <div class="col-md-6 mb-2">
                        <label for="cities">City <sup class="req_astric">*</sup></label>

                        <select (change)="changeAreaValue($event)" (change)="validateSelectList(visitorRegisterForm.controls['cities'].value)" formControlName="cities" class="form-control" required >
                            <option value="" >Select your city...</option>
                            <option *ngFor="let c of citiesList" [value]="c.id">{{c.name}}</option>
                          </select>
                          <small *ngIf="selectValurError && visitorRegisterForm.controls['cities'].touched" class="text-danger">
                            City is required.
                          </small>
  
                      </div>  
                </div>
                <!-- phone number and city -->
                <div class="row">
                    <!-- areaId -->
                    <div class="col-md-6 mb-2">
                        <label for="areaId">Area <sup class="req_astric">*</sup></label>

                        <select class="form-control" (change)="validateSelectList(visitorRegisterForm.controls['areaId'].value)" formControlName="areaId" >
                            <option value="" >Select your area...</option>
                            <option *ngFor="let a of areasList" [value]="a.id">{{a.areaName}}</option>
                          </select>
                          <small *ngIf="selectValurError && visitorRegisterForm.controls['areaId'].touched" class="text-danger">
                            Area is required.
                          </small>
                      </div>  
                 
                       <!-- city -->
                        <div class="col-6">
                            <div class="form-group">
                                <label for="userName">Address <sup class="req_astric">*</sup></label>
                                <input type="text" class="form-control" id="address" formControlName="address"  placeholder="Enter your address" required>
                            </div>
                            <small class="text-danger" *ngIf="!visitorRegisterForm.controls['address'].valid && visitorRegisterForm.controls['address'].touched">
                              Address is required.
                            </small> 
                        </div>

                </div>
                <!-- image and gender -->
                <div class="row">
                
                <!-- image -->
               
                <!-- gender -->
                <div class="col-md-6 mb-4">

                    <p for="Gender">Gender <sup class="req_astric">*</sup></p>

                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" 
                        value="0" required />
                    <label class="form-check-label" for="gender">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="gender"
                        value="1" required />
                    <label class="form-check-label" for="gender">Female</label>
                    </div>
                  
                </div>

                  <!-- submit -->
                <div class="col-md-6 mb-4">
                  <button  type="submit" class="btn btn-primary btn-lg btn-block" style="border-radius: 16px;margin-top: 10px;" (click)="Register()" [disabled]="!visitorRegisterForm.valid">Sign up</button>

                </div>
                </div>

  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>