<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
      <img src="assets/imges/admin/verified.png" alt="search_icon" width="25"> Confirmed Doctors
      
    </div>
        <div class="page__content shadow p-3">
            <div>
                <mat-form-field >
                  <mat-label>Filter</mat-label>
                  <input matInput  placeholder="" #input>
                </mat-form-field> 
                 
                <div class="mat-elevation-z8">
       
                    <table mat-table [dataSource]="dataSource" matSort>
                
                    <ng-container matColumnDef="image">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image </th>
                      <td mat-cell *matCellDef="let row"><img src="assets/imges/admin/defult.jpg" alt="search_icon" style="border-radius: 50%;width:50px;margin-bottom: 10px;margin-top: 10px;"> </td> 
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
                      <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
                      <td mat-cell *matCellDef="let row"> {{row.email}} </td> 
                    </ng-container>
                
                

                    <ng-container matColumnDef="phoneNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                        <td mat-cell *matCellDef="let row"> {{row.phoneNo}} </td>
                    </ng-container>

                      <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                      </ng-container>
                      
                  
                      
                      <ng-container matColumnDef="cities">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                        <td mat-cell *matCellDef="let row"> {{row.cities}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="area">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
                        <td mat-cell *matCellDef="let row"> {{row.area['areaName']}} </td>
                      </ng-container>

                    

                      
                      <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
                        <td mat-cell *matCellDef="let row"> {{row.cost}}</td>
                      </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary" ><mat-icon>visibility</mat-icon></button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
            </div>
       </div>  
</div>
         
<!-- <div class="mb-3">
  <label for="" class="form-label">Cities</label>
  <select (change)="selectMe()" class="form-select" formControlName="city">
      <option value="" >Select City...</option>
      <option *ngFor="let cities of citiesList" [value]="cities.id">{{cities.id }} - {{cities.name}}</option>
    </select>
</div> -->
