<div class="container">
    <div class="card">
        <div class="card-header">
            
            
          <h2>Your email is authorized</h2>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Thanks for authorize your email you can now <a routerLink="/login">login</a></p>
            <img src="assets/imges/home_icon/authorize.png" alt="verify_img" style="width: 20%;margin-top: 40px;" > 
        </blockquote>
        </div>
      </div>
</div>