:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }
  
  mat-drawer {
    width: 225px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: rgb(44, 175, 101);
  }