
.mat-icon{
  vertical-align: center;
  margin-right: 0.1rem;
  font-size: 14px;
}
.mat-list-item .a{
  font-size: 14px;
}
.mat-list-item{
  color: #ffffff !important;
  font-size: 12px;
  height: 44px !important;
  margin-bottom: 4px;
  border-radius: 5px;
  margin: 0 8px;
}

.list-item-active{
  color: #50a4dc !important;
  background-color: #E6E5E7;
}
.mat-subheader{
  color: #e0e2f4;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}