<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/imges/home_icon/logo2.png" alt="logo" style="width: 60%;margin-left: 20px;">
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/admin/home" routerLinkActive="list-item-active">
        <img src="assets/imges/admin/home.png" alt="search_icon" width="20"> Admin Dashboard
    </a>
    <a mat-list-item routerLink="/admin/hospital" routerLinkActive="list-item-active">
        <img src="assets/imges/admin/hospital.png" alt="search_icon" width="20">
         Hospitals
    </a>
    <a mat-list-item routerLink="/admin/department" routerLinkActive="list-item-active">
        <img src="assets/imges/admin/sitemap.png" alt="search_icon" width="20"> Departments
    </a>
    <a mat-list-item routerLink="/admin/specialist" routerLinkActive="list-item-active">
        <img src="assets/imges/admin/specialist.png" alt="search_icon" width="20"> Specialists
    </a>
    <a mat-list-item routerLink="/admin/confirmed-doctors" routerLinkActive="list-item-active">
        <img src="assets/imges/admin/doctor.png" alt="search_icon" width="20"> Doctors
    </a>

   
</mat-nav-list> 