
.mat-icon{
  vertical-align: center;
  margin-right: 0.1rem;
}
.mat-list-item{
  color: #4f7ebc !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  border-radius: 5px;
  margin: 0 8px;
}
.list-item
.list-item-active{
  color: #f2f5f7 !important;
  background-color: #f2f5f7;
}
.mat-subheader{
  color: #e0e2f4;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}