<mat-nav-list>
    <div class="logo py-4">
        <h3>My Clinic</h3>
    </div>
    <mat-divider></mat-divider>
    <h4 matSubheader class="mt-2">Admin Dashboard</h4>
    <a mat-list-item routerLink="/admin/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/admin/hospital" routerLinkActive="list-item-active">
        <mat-icon>local_hospital</mat-icon> Hospitals
    </a>
    <a mat-list-item routerLink="/admin/department" routerLinkActive="list-item-active">
        <mat-icon>category</mat-icon> Departments
    </a>
    <a mat-list-item routerLink="/admin/specialist" routerLinkActive="list-item-active">
        <mat-icon>local_hospital</mat-icon> Specialists
    </a>
    <a mat-list-item routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> test 1</a>
    <a mat-list-item routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> test 1</a>
    <a mat-list-item routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> test 1</a>
</mat-nav-list> 