
<div class="container-fluid">
  <img src="data:image/*;base64,{{doctorObj.image}}" alt="doctor_image" class="doctor_image"> 
  <hr>
        <div class="row">
            
            <div class="col-6">
              <!-- <img  src="data:image/*;base64,{{doctorObj.image}}" alt="doctor_image" class="doctor_image">  -->

              
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input type="text"[(ngModel)]="doctorObj.fullName" class="form-control" id="pass" name="pass" readonly>
                  </div>
                  <div class="form-group">
                    <label for="userName" >Username</label>
                    <input type="text" [(ngModel)]="doctorObj.userName" class="form-control" id="pass" name="pass" readonly>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"  [(ngModel)]="doctorObj.email" class="form-control" id="email" name="email" readonly>
                  </div>
                  <div class="form-group">
                    <label for="doctorTitle">Title</label>
                    <input type="text" [(ngModel)]="doctorObj.doctorTitle"  class="form-control" id="pass" name="pass" readonly>
                  </div>
                  <div class="form-group">
                    <label for="phoneNo">Department</label>
                    <input type="tel" [(ngModel)]="doctorObj.department['name']" class="form-control" id="pass" name="pass" readonly>
                  </div>

                  <div class="form-group">
                    <label for="specialists">Specialists</label>
                    <div class="colect_text">
                      <span *ngFor="let s of doctorObj.specialists">
                        {{s.specialistName}}.</span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="hospitals">Hospitals</label>
                    <div class="colect_text">
                      <span *ngFor="let h of doctorObj.hospitals">
                        {{h.name}}.</span>
                    </div>
                  </div>
            </div>
           
              <!-- scond col -->
            <div class="col-6">
             
                  <div class="form-group">
                    <label for="insurances">Insurances</label>
                    <div class="colect_text">
                      <span *ngFor="let i of doctorObj.insurances">
                        {{i.companyName}}({{i.discount}}%).</span>
                    </div>
                  </div>
             
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text"  [(ngModel)]="doctorObj.gender" class="form-control" id="pass" name="pass" readonly>
                  </div>
                <div class="form-group">
                    <label for="phoneNo">Phone number</label>
                    <input type="tel" [(ngModel)]="doctorObj.phoneNo" class="form-control" id="pass" name="pass" readonly>
                  </div>
               
                  <div class="form-group">
                    <label for="insurances">Full address</label>
                    <div class="colect_text">
                      <span>{{doctorObj.address}}, {{doctorObj.area['areaName']}}, {{doctorObj.cities}}.</span>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label for="cost">Cost (L.E)</label>
                    <input type="number" [(ngModel)]="doctorObj.cost" class="form-control" id="pass" name="pass" readonly>
                  </div>
                  <div class="form-group">
                    <label for="cost">Waiting time (min.)</label>
                    <input type="number" [(ngModel)]="doctorObj.waitingTime" class="form-control" id="pass" name="pass" readonly>
                  </div>
             
                
                  <button *ngIf="!doctorObj.emailConfirmed" (click)="confirmDoctorAndSendEmail(doctorObj.id)" type="submit" class="btn btn-primary  btn-block">Confirm doctor and send email</button>
    
            </div>
            <hr>
            <!-- rate -->
            <div class="col-6" *ngIf="doctorObj.emailConfirmed">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <th>Rate</th>
                  <th>Review</th>
                  <th>CreatedAt</th>
                </thead>
                <tbody>
                  <tr *ngFor="let r of doctorObj.ratesAndReviews">
                    <td>{{r.rate}}/5</td>
                    <td>"{{r.review}}"</td>
                    <td>{{r.createdAt}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- book -->
            <div class="col-6" *ngIf="doctorObj.emailConfirmed">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <th>Booking Date</th>
                  <th>Created At</th>
                </thead>
                <tbody>
                  <tr *ngFor="let b of doctorObj.bookings">
                    <td>{{b.time}}</td>
                    <td>{{b.createdAt}}</td>
                  </tr>
                </tbody>
              </table>
            </div>                 
        </div>
</div>

